@font-face {
    font-family: 'HelvLightIBM';
    src: url('//43A0C.http.wdc01.cdn.softlayer.net/email/helvneueforibm-light-webfont.eot');
    src: url('//43A0C.http.wdc01.cdn.softlayer.net/email/helvneueforibm-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('//43A0C.http.wdc01.cdn.softlayer.net/email/helvneueforibm-light-webfont.woff') format('woff'),
    url('//43A0C.http.wdc01.cdn.softlayer.net/email/helvneueforibm-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body {
    background:#343c3f;
    color:#ffffff;
    margin:0;
    padding:0;
    text-align:center;
    font-family: 'HelvLightIBM', Arial, sans-serif;
    font-size:16px;
}

.content {
    font-family:'HelvLightIBM', 'Arial',sans-serif;
    margin:0 auto;
    text-align:center;
    width:80%;
}

.page-header{
    height:250px;
    background-color:#ece8e5;
    text-align:center;
    margin:0;
}
.logo img{
    margin:60px auto 50px auto;
    text-align:center;

}

.header {
    margin:60px auto 35px auto;
    font-size:28px;
    font-family:'';
}
.form-group {align:center;}

.form-control {
    width:70%;
    text-align:left;
    display:block;
    margin:20px auto 35px;
}

.legal {
    text-transform: uppercase;
    font-size:9px;
    color:#ece8e5;
    width:70%;
    margin:35px auto;
}

hr {
    width:30%;
    margin:0 auto 35px;
}

button{
    background-color:transparent;
    color:#ece8e5;
    border:1px solid #ece8e5;
    text-transform: uppercase;
}